{
  "extends": ["airbnb", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-restricted-exports": 0,
    "import/prefer-default-export": 0,
    "no-plusplus": 0,

    "@typescript-eslint/no-unused-vars": "warn",
    "import/no-extraneous-dependencies": "off"
  }
}
