
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds and caches
.next
.turbo
coverage
.build
.dist
build
dist
.rpt2_cache
coverage
.wrangler
.claude
.cursor
.crush
.vscode

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea

# other package managers
package-lock.json
yarn.lock
bun.lockb
bun-workspace.yaml

# codecov
codecov.SHA256SUM
codecov.SHA256SUM.sig
codecov
