{
  "$schema": "https://json.schemastore.org/semantic-release.json",
  "branches": [
    "main",
    { "name": "beta", "prerelease": true },
    { "name": "alpha", "prerelease": true }
  ],
  "baseBranch": "main",
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    ["@semantic-release/npm", {
      "npmPublish": true
    }],
    "@semantic-release/git"
  ]
}