{
  "branches": ["main", { "name": "beta", "prerelease": true }],
  "baseBranch": "main",
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    ["@semantic-release/npm", {
      "npmPublish": true
    }],
    "@semantic-release/git"
  ]
}
