name: CD - Docs

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      version:
        description: "Version to deploy (optional)"
        required: false

permissions:
  contents: read

jobs:
  deploy:
    environment:
      name: "docs"
      url: "https://use-mask-input.eduardoborges.dev"
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: "pnpm"
          node-version-file: .node-version

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Cache Turbo
        uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Build Documentation
        run: pnpm run build --filter=docs

      - name: Deploy to Cloudflare Pages
        run: pnpm exec wrangler pages deploy apps/docussaurus/build --project-name=use-mask-input
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
