name: CI

on:
  pull_request:
    branches:
      - main
    types:
      - synchronize
      - edited

jobs:
  semantic_pr:
    runs-on: "ubuntu-latest"
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: amannn/action-semantic-pull-request@v5

  tests:
    needs: semantic_pr
    runs-on: "ubuntu-latest"
    steps:
      - name: Run Unit Tests
        run: npm test
