name: Release
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "beta"

concurrency:
  group: "release"
  cancel-in-progress: true

permissions:
  id-token: write # to enable use of OIDC for npm provenance
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests

jobs:
  release:
    environment:
      name: "npm"
      url: "https://npmjs.com/package/use-mask-input"
    runs-on: "ubuntu-latest"
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: "pnpm"
          node-version-file: .node-version

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Cache Turbo
        uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Build packages
        run: pnpm run build --filter=use-mask-input

      - name: Run Tests
        run: pnpm run test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        continue-on-error: true
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          working-directory: packages/use-mask-input

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1.6.0
        with:
          createGithubReleases: true
          publish: pnpm run release
          version: pnpm run version-packages
          commit: "chore: version packages"
          title: "chore: version packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
